.profile {
  display: flex;
  width: 100%;

  .card {
    img {
      width: 150px;
      height: 150px;
    }

    h2 {
      margin-top: 10px;
    }

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
