@import '../../App';

.topbar {
  background-color: opacityrgba(rgbbubbleyellow, 1);
  height: 65px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
