@import '../../App';

.bottombar {
  border-top: 1px solid opacityrgba(rgbbubbleblack, 0.25);
  background-color: white;
  height: 65px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  outline: 0;

  .icon,
  p {
    color: $bubbleblack;
    font-size: small;
    margin: 3px;
  }

  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
  }
}
